<p id="notice"><%= notice %></p>

<h1>Listing Contact Details</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_details.each do |contact_detail| %>
      <tr>
        <td><%= contact_detail.name %></td>
        <td><%= contact_detail.address %></td>
        <td><%= contact_detail.phone %></td>
        <td><%= link_to 'Show', contact_detail %></td>
        <td><%= link_to 'Edit', edit_contact_detail_path(contact_detail) %></td>
        <td><%= link_to 'Destroy', contact_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact detail', new_contact_detail_path %>
